.pvptable{
  margin-top: 70px;
}
.stat{
  margin: 0;
  height: 40px;
}

.ranking, .name, .winrate{
  background-color: #f2f2f2;
  border-right: solid 1px;
  border-bottom: solid 1px;
  line-height: 40px;
}

.pvptable ul{
  text-align: center;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}


.ranking{
  border-left: solid 1px;
  width: 400px;
}

.name{
  width: 600px;
  cursor: pointer;
}

.winrate{
  width: 600px;
}
