ul{
  margin-top: 0;
}

li{
  list-style: none;
}

.matchbar{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#dropdown-basic{
  --bs-btn-bg: #44576c;
  --bs-btn-border-color: #44576c;
  --bs-btn-hover-bg: #44576c;
  --bs-btn-hover-border-color: #44576c;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #44576c;
  --bs-btn-active-border-color: #44576c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #44576c;
  --bs-btn-disabled-border-color: #44576c;
  --bs-btn-font-weight: 700;
  --bs-btn-font-size: 12px;
}

li{
  font-size: 16px;
  line-height: 1.6;
}

.problem-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  border: 1px solid;

}
.problem-box{
  border-right: 0;
  height: 70vh;
}
.participant{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.filename{
  padding-left: 10px;
}

.row{
  padding: 0;
}


.matchcontainer{
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.problem-box, .codebox{
  padding: 0;
}

.cm-theme-light{
  border-top: 1px solid;
}