.navbar{
  background-color: #273238;
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: #f2f2f2
  --bs-navbar-brand-hover-color: #f2f2f2;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #f2f2f2;
}

.loginsignup{
  margin-left: auto;
}