.navbar{
  background-color: #273238;
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: white;
  --bs-navbar-brand-color: #f2f2f2
  --bs-navbar-brand-hover-color: #f2f2f2;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #f2f2f2;
}

.loginsignup{
  margin-left: auto;
}

#logoutbtn{
  --bs-btn-color: #fff;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}